# Ambientes virtuais
venv/
.venv/
env/
backend/venv/
backend/.venv/

# Senhas e Variáveis de Ambiente (NUNCA SUBIR)
.env
backend/.env

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/